<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="./new">Click to add a message</a>
    <ul>
      <% messages.forEach(message => { %>
      <li>
        <p><%=message.user%></p>
        <p><%=message.text%></p>
        <p><%=message.added%></p>
        <%})%>
      </li>
    </ul>
  </body>
</html>
